.Header
{
    position: fixed;
   width:100%;
   top:0;
    z-index: 999;
    background: white;
    }
   
.Header img
      {
          height:60px;
         width:200px;
      }
      .Navbar
      {
          
          width: 100%;
      }
  .NavbarElements
  {
      width:100%;
      background-color:transparent;
      color: #8A39E1;
      font-size:20px;
      border:1px solid transparent !important;
      font-weight:bold;
  }
  .NavbarElements:hover
  {
      background-color: #EDEEF7;
      color: #8A39E1;
      border:none;
      outline:none;
      transition:0.05s all;
  }
  .btn-secondary:mouseleave()
  {
      outline:none;
  }
  .btnSearch
  {
      background-color: transparent;
      border: 2px solid;
      height: 40px;
      color: #8A39E1;
      border-color:#8A39E1;
  }
  .btnSearch:hover
  {
      background-color:#8A39E1;
      color:White;
      outline-color:#8A39E1;
  }
  .SearchProduct
  {
      outline:2px solid #8A39E1;
      height: 40px;
      font-size: 20px;
  }

  .btnAccount
  {
      color:#8A39E1;
      font-size:25px;
      background-color:transparent;
      outline:none;
      border:none;
  }
  .btnCart 
  {
      color:#8A39E1;
      font-size:25px;
      font-weight:bolder;
      margin-left:1%;
  }
  .btnAccountMenu
  {
      height:40px;
      
  }
  .Navbar NavbarElements:focused
  {
       background-color: #EDEEF7;
      color: #892CDC;
  }
  .btnAccount li
  {
      padding-top:10px;
      padding-bottom:10px;   
  }
  .btnAccountItem span
  {
      padding-right:10px;
  }
  .btnAccountItem li a
  {
  }
  .btnAccountItem a
  {
      font-size:15px;
      font-weight:bold;
      color: #069A8E;
  }
  .Navbar span
  {
      padding-right:5px;
  }
    .mainDisplay{
        height:100vh;
        width: 100%;    
    }
.Productimage{
height: 432px;
width:30%;
margin-top: 10px;
margin-left:0;
justify-content: space-between;
padding: 5px;
float:left;
border-radius: 7px;


}
#ProductImage{
    height: 88%;
    width: 100%;
    padding: 0;
    
}

.ProductDetailsContainer
{
width: 70%;
height: 300vh;
float:left;
margin-top:10px;
padding-left: 10px;
}
#ProductName{
    font-size: 25px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
}
.btnProductDiv
{
    width: 100%;
    height:12%;
    padding: 0;
    display: flex;
    border: none;
    
}
.btnOfProduct{
    background-color:#8A39E1 ;
    color:white;
    margin-top:10px;
    height: 37px;
    width: 45%;
    font-size: 15px;
    padding-bottom: -1;
    
}
.btnOfProduct :hover {
    color: white;
}
#ProductEffectivePrice{
    font-size: 25px;
    padding-top: 10px;
    display: inline;
}
#EffectivePrice{
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
#ActualPrice{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: line-through;
}
#ProductActualPrice{
    margin-left: 15px;
    font-size: 15px;
    color: #878787;
    
}
#Percentage{
    color: green;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    display: inline-block;
}
#Highlights{
    display: flex;
    color:#878787 ;
    margin-top: 50px;
    font-size: 15px;
}
#Description{
    font-size: 15px;
    display: block;
    color:#878787 ;
}
.features{
    font-size: 15px;
    display: inline-block;
    color:#878787 ;
}
.SpecificationMain{
    height: 47%;
    width: 100%;
    margin:0;
    padding: 0;
    margin-top: 50px;
}
.Specification {
    border-bottom:1px solid #878787;
    height: 6%;
    width:100%;
    padding-top:1%;
    font-size:25px;
    font-family: 'Roboto', sans-serif;
}
.inTheBox{
    height: 15%;
    width:100%;
    border-bottom:1px solid #878787;
    padding-top:2%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.General{
    width: 100%;
    padding-top:1%;
    height:5%;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}
.VaseFeatures{
    width: 100%;
    padding-top:1%;
    height:5%;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
   
}
.inGeneral{
    height: 31%;
    width:100%;
    font-size: 15px;
    color: #878787;
    font-family: 'Roboto', sans-serif;
    border-bottom:1px solid #878787;
}
.AdditionalFeatures{
    width: 100%;
    padding-top:1%;
    height:5%;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
   
}
.inVaseFeaures
{
    border-bottom: 1px solid #878787;
    height: 10%;
}
.inAdditionalFeaures{
    border-bottom: 1px solid #878787;
    height: 9%;
}
.Dimensions{
    width: 100%;
    padding-top:2%;
    height:5%;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    
}
.inDimension{
    float: left;
    height: 9%;
}
@media (min-width: 350px) {
   
    .Productimage,.ProductDetailsContainer{
        float: none;
         width: 100%;
    }
}
@media (min-width:500px)
{
    .SpecificationMain{
    height: 65%;
    }

}
@media (min-width: 750px) {
    .SpecificationMain{
     height: 52%;
    }

   .Productimage{
        float: left;
        width: 45%;
        
   }
   .ProductDetailsContainer{
       float: left;
       width: 55%;
   }
}
   @media (min-width: 900px) {
    .SpecificationMain{
     height: 47%;
    }
   @media (min-width: 1300px) {
   
   .Productimage{
        float: left;
        width: 30%;
        
   }
   .ProductDetailsContainer{
       float: left;
       width: 70%;
   }
}


